@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400, 500; 0,600; 0 &display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','roboto',sans-serif ;
}
.back-icon{
    font-size: 20px;
    color: #858585;
}
.current-page-icon-head-container{
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.current-page-icon-head{
    height: 7em;
    width: 7em;
    text-align: center;
}

h3{
    color: #696969;
    letter-spacing: .5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.input-box .box .input-field{
    color: #696969;
}

.form-submit{
    border: none;
    margin:30px 0 10px 0;
    background-color: #2ECC71;
    padding:10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width:90%;
    cursor: pointer;
}

 .input-box .box input{
    letter-spacing: .5px;
    margin-bottom: 5px;
  }


  @media screen and (min-width: 300px){
    .form-head .underHead-text{
        font-size: 12px;
        width: 100%;
        margin:0px 10px 30px 10px ;
        color:#858585;
        font-weight: bold;
        text-align: center;
    }    
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 300px;
    }

}  