/* Link to google fontsPoppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400, 500; 0,600; 0 &display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','roboto',sans-serif ;
    font-size: 12px;
}

.logo-container{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-name{
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}
.logo{
    height: 50px;
    width: 50px;
}

.container{
    background-color: #fff;
    position: relative;
    width: auto;
    padding: 30px 15px;
    height: fit-content;
    margin: 0px 15px;
    border-radius: 5px;
    color: #696969;
    box-shadow: 0px 0px 20px #d8d8d8;
}

.form-head{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}

.form-head .underHead-text{
    font-size: 12px;

    margin:0px 10px 30px 10px ;
    color:#858585;
    font-weight: bold;
    text-align: center;
}

/* .close-icon{
    font-size: 20px;
} */

form {
    width:auto;
    position: relative;
}

.container .green-left-border{
    display: inline-block;
    color:#252525;
    font-size: 12;
    font-weight: bold;
    border-left: 5px solid #2ECC71;
    padding: 10px 5px;
    line-height: .2em;
    text-transform: capitalize;
    
}


.container .input-box{
    margin: 10px auto;
}

.container .box{
    display: flex;
}

.box input{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    border: 2px solid #E1E1E1;
    border-radius: 5px;
    width: 90vw;
    color: #7e7e7e;
    font-weight: 500;
    padding: 5px 10px;
    /* ---------- */
    background: rgba(255, 255, 255, 0.258);
    background: transparent;
}

.box input:focus{
    border: 2px solid #858585;
    transition: border .3s;
}


#login{
    border: none;
    margin-top: 20px;
    background-color: #2ECC71;
    padding:10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width:90%;
    cursor: pointer;

}

#login:hover{
    background-color:#2ecc70be;
    transition: all .3s;
}

#login:active{
    background-color: #2ecc70be;
    transition: all .3s;
}

.forgot-password{
    color:#7e7e7e; 
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px;
}

.forgot-password:hover{
    color: #252525;
    transition: .2s;
}

.forget-Remember-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    height: 30px;
    width: 100%;
    justify-content: space-between;
}


@media screen and (min-width: 300px){
    .form-head .underHead-text{
        font-size: 12px;
        width: 100%;
        margin:0px 10px 30px 10px ;
        color:#858585;
        font-weight: bold;
        text-align: center;
    }    
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 300px;
    }

}   
  
  