/* Link to google fontsPoppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400, 500; 0,600; 0 &display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','roboto',sans-serif ;
    font-size: 12px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f9;
}
a{
    text-decoration: none;
    color: #5CD467;
}


.logo-container{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-name{
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}
.logo{
    height: 50px;
    width: 50px;
}

.form-head{
    display: flex;
    justify-content: space-between;
    align-content: ce   nter;
    flex-direction: row;
}

.form-head .underHead-text{
    font-size: 12px;

    margin:0px 10px 30px 10px ;
    color:#858585;
    font-weight: bold;
    text-align: center;
}

/* .close-icon{
    font-size: 20px;
} */

form {
    width:auto;
    position: relative;
}

.box input{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    border: 2px solid #E1E1E1;
    border-radius: 5px;
    color: #7e7e7e;
    font-weight: 500;
    padding: 5px 10px;
    background: transparent;
}

.box input:focus{
    border: 2px solid #8585859a;
    transition: border .3s;
}


#register{
    outline: none;
    border: none;
    margin-top: 20px;
    background-color: #2ECC71;
    padding:5px 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width:100%;
}

#register:hover{
    background-color: #5cd468b4;
    transition: all .3s;
}

#register:active{
    background-color: #5cd468b4;
    transition: all .3s;
}

.opposite-sign{
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
    margin-top: 20px;
    color: #ACACAC;
}

.opposite-sign a{
    color: #2ECC71;
    text-transform: capitalize;
}

.opposite-sign a:hover{
    cursor: pointer;
}


@media screen and (min-width: 300px){
    .form-head .underHead-text{
        font-size: 12px;
        width: 100%;
        margin:0px 10px 30px 10px ;
        color:#858585;
        font-weight: bold;
        text-align: center;
    }    
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 300px;
    }

}   
  